aiofiles @ file:///home/conda/feedstock_root/build_artifacts/aiofiles_1698945915105/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1739175731979/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1738823094838/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1736174388474/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1733584251875/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1737819173731/work
binaryornot @ file:///home/conda/feedstock_root/build_artifacts/binaryornot_1734071693792/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1734380492396/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560574711/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1724954795561/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1734069695401/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1733931864043/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1733256735222/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1733300719943/work
evaluate @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_evaluate_1737420227/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_fastapi_1738326226/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1734302308128/work
ffmpy @ file:///home/conda/feedstock_root/build_artifacts/ffmpy_1659474992694/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1737517818712/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1737645306854/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1725543257300/work
gradio @ file:///home/conda/feedstock_root/build_artifacts/gradio_1738361880068/work
gradio_client @ file:///home/conda/feedstock_root/build_artifacts/gradio-client_1738919410905/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httptools @ file:///Users/runner/miniforge3/conda-bld/httptools_1732707750405/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1738349326790/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1734823942230/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1724959497253/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1729065522203/work
multiprocess @ file:///Users/runner/miniforge3/conda-bld/multiprocess_1724954582747/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1737331083139/work/dist/numpy-2.2.2-cp310-cp310-macosx_11_0_arm64.whl#sha256=4c56417c2ecfcdcec40444143d5c46b9f8a3e5ac6f5def583ee39ce7acd8dbbc
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1737229079374/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1715897645859/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929731714/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1737635573155/work
pyarrow==19.0.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1737761369378/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1734571515235/work
pydub @ file:///home/conda/feedstock_root/build_artifacts/pydub_1734638032476/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1733243180666/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1738317518727/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454694375/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1730952218210/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rich-toolkit @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich-toolkit_1733750834/work
ruff @ file:///Users/runner/miniforge3/conda-bld/ruff_1739202852908/work
safehttpx @ file:///home/conda/feedstock_root/build_artifacts/safehttpx_1734360621373/work
safetensors @ file:///Users/runner/miniforge3/conda-bld/safetensors_1736382992418/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1736617280897/work/dist/scipy-1.15.1-cp310-cp310-macosx_11_0_arm64.whl#sha256=5f75e798ec682bba92f312fbafcfd7036b41f1516712c8f9ca6214156476bd8d
semantic-version @ file:///home/conda/feedstock_root/build_artifacts/semantic_version_1653579368137/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette_1737823930525/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
tokenizers @ file:///Users/runner/miniforge3/conda-bld/tokenizers_1732734009292/work/bindings/python
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1738946120249/work
typer==0.15.1
typer-slim==0.15.1
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1733612335562/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1734292939144/work
uvloop @ file:///Users/runner/miniforge3/conda-bld/uvloop_1730214414718/work
watchfiles @ file:///Users/runner/miniforge3/conda-bld/watchfiles_1736550561906/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1697914722358/work
xxhash @ file:///Users/runner/miniforge3/conda-bld/python-xxhash_1725272077104/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1737575842004/work
zstandard==0.23.0
